<ion-view>
    <ion-content>
        <div class="list padding">
            <div class="item item-icon-left item-icon-right noBorder">
                <i class="icon ion-card"></i>
                <span class="header-amount" ng-class="{'balanced': amount >= 0, 'assertive': amount < 0}"><strong>{{ amount }}</strong></span>
                <span class="icon ion-ios-person-outline header-name">{{userName}}</span>
            </div>

            <div class="item item-input noBorder">
                <label class="item-input-wrapper">
                    <i class="icon ion-search"></i>
                    <input type="text" ng-model="searchString" class="rob_light">
                </label>
                <button class="button button-icon ion-ios-close-empty" ng-click="searchString=''"></button>
            </div>

            <div class="item noBorder"></div>
            <a class="item noBorder dashlist item-divider">
                <div class="row">
                    <div class="col-25 bree">
                        <center><i class="icon ion-ios-calendar-outline"></i>
                        </center>
                    </div>
                    <div class="col-25 rob_light">
                        <center><i class="icon ion-ios-location"></i>
                        </center>
                    </div>
                    <div class="col-25 rob_dark">
                        <center><i class="icon ion-cash"></i>
                        </center>
                    </div>
                    <div class="col-25 rob_light">
                        <center><i class="icon ion-ios-person"></i>
                        </center>
                    </div>
                </div>
            </a>
            <a class="item noBorder dashlist" ng-repeat="expense in expenses | filter: searchString" ng-click="showExpenseDetails(expense)">
                <div class="row">
                    <div class="col-25 bree">{{ expense.date| date:'dd MMMM' }}</div>
                    <div class="col-25 rob_light">
                        <center>{{ expense.location }}</center>
                    </div>
                    <div class="col-25 rob_dark">
                        <center>{{ expense.amount }}</center>
                    </div>
                    <div class="col-25 rob_light">
                        <center>{{ expense.paidBy }}</center>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
    <div class="add-expense-button">
        <button class="button button-assertive dropShadow" ng-click="addExpense()">
            <i class="icon ion-cash"></i>
        </button>
    </div>
</ion-view>